* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f15;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; 
}

#bg-blur {
    position: absolute;
    top: -5%; 
    left: -5%; 
    width: 110%; 
    height: 110%; 
    background-size: cover;
    background-position: center;
    filter: blur(25px) brightness(0.3); 
    z-index: -1;
    transition: background-image 0.5s ease;
}

#game-container {
    height: 100vh; /* מתאים את עצמו תמיד לגובה המסך */
    aspect-ratio: 9/16; /* שומר על פרופורציות של טלפון בדיוק */
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}